.wrapper {
  position: relative;
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
  background-image: url('/halloween-background.jpg');
  background-size: cover;
  background-position: center;
}

.inner {
  position: relative;
  z-index: 1;
}

.title {
  font-weight: 800;
  font-size: rem(40px);
  letter-spacing: -1px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  color: var(--mantine-color-white);
  margin-bottom: var(--mantine-spacing-xs);
  text-align: center;
  font-family: Greycliff CF, var(--mantine-font-family);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    text-align: left;
  }
}

.highlight {
  color: var(--mantine-color-orange-4);
}

.description {
  text-align: center;
  color: var(--mantine-color-gray-0);

  @media (max-width: $mantine-breakpoint-xs) {
    text-align: left;
    font-size: var(--mantine-font-size-md);
  }
}

.control {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(22px);

  &:not(:first-of-type) {
    background-color: var(--mantine-color-orange-6);
    border-color: var(--mantine-color-orange-6);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}
